@media screen and (min-width: 2000px) {
    .customers-menu__content__grid {
        grid-template-columns: repeat(4, 1fr);

    }
}

@media screen and (max-width: 1200px) {
    .customers-menu__content__grid {
        grid-template-columns: repeat(2, 1fr);

    }
}

@media screen and (max-width: 650px) {
    .customers-menu__content__grid {
        grid-template-columns: repeat(1, 1fr);

    }
}

@media screen and (max-width: 400px) {
    .customer__grid {
        margin: 10px 0;
    }
}

@media screen and (max-width: 570px) {

    .customers-menu__grid {
        margin: 40px 10px;
    }

    .customers-menu__navigation__grid {
        flex-direction: column;
    }

    .customers-menu__add-button__grid {
        align-self: flex-end;
    }

    .customers-menu__find-label__grid {
        margin: 20px 0;
        min-height: 30px;
    }
}

@media screen and (min-width: 800px) and (max-width: 900px) {
    .customer__first-contact {
        margin-top: 50px;
    }

    .customer__contact__grid {
        margin-left: -100px;
    }
}

@media screen and (max-width: 350px) {
    .customer__first-contact {
        margin-top: 50px;
    }

    .customer__contact__grid {
        margin-left: -100px;
    }

    .customers-menu__add-button {
        align-self: center;
    }

    .customers-menu__find-label {
        flex-direction: column;
    }

    .customers-menu__find-button {
        margin-top: 10px;
        height: 40px;
        width: 80px;
        align-self: center;
        margin-left: 0;
    }
}