.customers-menu {
    margin: 40px 10px 40px 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 90%;
}

.customers-menu__navigation {
    display: flex;
    align-items: center;
}

.customers-menu__add-button {
    width: 178px;
    height: 60px;
    border-radius: 15px;
    border: 1px solid black;
    background-color: #ebebeb;
    font-family: inherit;
    cursor: pointer;
}

.customers-menu__find-label {
    display: flex;
    flex: 1;
    height: 30px;
    margin: 0 20px 0 20px;
}

.customers-menu__find {
    flex: 1;
    font-family: inherit;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

.customers-menu__find-button {
    margin-left: 20px;
    font-family: inherit;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
}

.customers-menu__content {
    flex: 1;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-content: space-around;
    box-sizing: border-box;
}

.customers-menu__content-loading, .customers-menu__content-error {
    display: flex;
    align-items: center;
    justify-content: center;
}

.customer-menu__error__hide {
    display: none;
}

.customer-menu__preloader {
    width: 50px;
    height: 50px;
}

.customer-menu__error {
    font-weight: bold;
}

.customer {
    margin: 10px;
}

.pagination-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}