.footing {
    display: flex;
    background-color: #7a7a7a;
    justify-content: space-between;
}

.footing__item {
    color: #ffffff;
}

.footing__item__margin {
    margin: 5px 0 5px 25px;
}

.footing__left {
    display: flex;
}

.footing__tech-support {
    cursor: pointer;
    padding: 6px;
    text-decoration: none;
    align-self: center;
    text-align: center;
    border-radius: 10px;
    border: 2px solid white;
    -webkit-user-select: none;
}

.footing__tech-support:hover {
    background-color: #373945;
}

.footing__agreement {
    align-self: center;
    margin-right: 25px;
}

.footing__agreement__centered {
    text-align: right;
}

.footing_page-load {
    margin-left: 20px;
    align-self: center;
}

@media screen and (max-width: 550px) {
    .footing__direction, .footing__left {
        flex-direction: column;
        align-content: center;
    }

    .footing__item {
        margin-top: 10px
    }

    .footing__agreement__centered {
        text-align: center;
    }

    .footing__item__margin {
        margin: 5px 0 0 0;
    }
}