@media screen and (max-width: 46.875rem) {
    .menu__fold {
        width: 0;
    }

    .menu__collapse-button {
        display: none;
    }

    .menu__item-icon__fold {
        display: none;
    }

    .menu__item-description__fold {
        display: none;
    }

    .heading__logotype__hide {
        display: none;
    }

    .unfold-button {
        display: block;
    }
}

@media screen and (min-width: 46.875rem) {
    .menu__unfold-disable {
        position: relative;
        z-index: 1;
    }
}