@media screen and (max-width: 46.875rem) {
    .menu__fold {
        display: none;
    }

    .heading__logotype__hide {
        display: none;
    }

    .unfold-menu {
        display: block;
    }
}