.calendar-settings {
    display: flex;
    justify-content: space-between;
    max-width: 80vw;
    margin-left: 100px;
}

.calendar-settings__content {
    display: flex;
    width: 100%;
}

.calendar-settings__filters {
    display: flex;
    flex-direction: column;
}

.calendar-settings__row {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: baseline;
    /*width: 100%;*/
    /*max-width: 60vw;*/
}

.calendar-settings__second {
    justify-content: space-between;
    margin-bottom: 30px;
}

.calendar-settings__second-half {
    display: flex;
}

.calendar-settings__item {
    /*flex: 1*/
}

.calendar-settings__choose-master {
    margin-right: 50px;
}

.calendar-settings__timing {
    display: flex;
    margin-right: 50px;
}

.calendar-settings__option {
    text-align: center;
}

.calendar-settings__start-time {
    margin-right: 20px;
}

.calendar-settings__select {
    height: 1.6rem;
    border: 1px solid black;
    border-radius: 5px;
    font-family: inherit!important;
}

.calendar-settings__submit {
    height: 2rem;
    width: 9rem;
    border: 1px solid black;
    border-radius: 5px;
    font-family: inherit!important;
    cursor: pointer;
}

.calendar-settings__week-variant {
    display: flex;
}

.calendar-settings__week {
    margin-right: 15px;
}

.calendar-settings__week-holder {
    display: flex;
    margin: 0 25px;
}

.calendar-settings__week-img {
    width: 20px;
}

.calendar-settings__current-week {
    font-weight: bold;
    margin: 0 15px;
}

.calendar-settings__change-week {
    cursor: pointer;
}

.calendar__settings-button-clicked {
    background: #d6d6d6;
}

.calendar-settings__create-button {
    margin: 30px 20px 30px 10px;
    height: 3rem;
    border: 1px solid black;
    border-radius: 5px;
    font-family: inherit!important;
}

.calendar-settings__create-button:hover {
    background: #d6d6d6;
}

@media screen and (max-width: 1100px) {
    /*.calendar-settings__submit {*/
    /*    width: 7rem;*/
    /*}*/

    .calendar-settings__today {
        width: 6rem;
    }

    .calendar-settings__week {
        width: 6rem;
    }

    .calendar-settings__workweek {
        width: 7.6rem;
    }
}

@media screen and (max-width: 1050px) {
    .calendar-settings {
        margin-left: 30px;
    }

    .calendar-settings__apply {
        width: 6rem;
    }
}

@media screen and (max-width: 900px) {
    .calendar-settings__second {
        flex-direction: column;
        margin-left: auto;
        align-items: center;
    }

    .calendar-settings__second-half {
        margin-bottom: 20px;
    }

    .calendar-settings__timing, .calendar-settings__choose-master {
        margin-right: 15px;
    }
}

@media screen and (max-width: 750px) {
    .calendar-settings {
        max-width: 95vw;
    }
}

@media screen and (max-width: 600px) {
    .calendar-settings__create-button {
        margin-right: 10px;
    }
}