.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts__items {
    display: flex;
}

.contacts__icon:hover {
    background-color: #373945;
}

.contacts__icon {
    height: 30px;
    width: 30px;
    border-radius: 10px;
}