.unfold-menu {
    display: none;
    align-self: center;
}

.unfold-menu__margin {
    margin: 0 0 0 30px;
}

.unfold-menu__button {
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 750px) {
    .unfold-menu__display {
        display: block;
    }
}